* {
  box-sizing: border-box;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.header1 {
 display: flex;
 flex-wrap: wrap;

 font-size: 1em;
 background-color: springGreen;
 border: 1px solid black;
 padding: 2px;
}
.header2 {
 display: flex;
 flex-wrap: wrap;

  font-size:4em;
  color: white;
 background-image: url('rus30.png');
 border: 0px solid black;
 padding: 10px;
}

 .footer {
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
 background-image: url('rus30.png');
 border: 1px solid black;
 padding: 10px;

 text-align: center;
 font-size: 1em;
 color: white;
 position: fixed;
 bottom: 0;
 width: 100%;
 }

/* Six buttons with code link to some pages in this project */
 .button-group {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 margin-top: 3px;
 }

 .button {
 display: inline-block;
 padding: 3px;
 margin: 3px;
 background-color: springGreen;

  border: 1px solid black;
 border-radius: 3px;
 font-size: 1em;
 color: black;
 text-align: center;
 text-decoration: none;
 }

  .buttonm-group {

 display: flex;
 flex-wrap: wrap;
 width: 100px;

 justify-content: center;
 align-items: center;
 margin-top: 3px;
 }

 .buttonm {

  display: inline-block;
 padding: 3px;
 margin: 3px;
 background-color: springGreen;

  border: 1px solid black;
 border-radius: 3px;
 font-size: 1em;
 color: black;
 text-align: center;
 text-decoration: none;
 }

/* Fixed background */
 body {

   background-color: #FFFFFF;
   background-image: url('web.jpg');
   background-attachment: fixed;
   background-position: center center;
   background-repeat: repeat;
   background-size: 100% 100%;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.2;
   margin: 0;
   padding: 0;

    }






      .logo {
            font-size: 25px;
            font-family: 'Sriracha', cursive;
            color: #000;
            text-decoration: none;
        }
        .nav-items a {
            text-decoration: none;
            color: #000;
            padding: 10px 20px;
        }
        /* Styles for main content */
        .intro {
            /* Add your background image here */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("your-image-url.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            /* Other styles for intro section */
        }

                .footerm {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #302f49;
            padding: 10px;
            color: #fff;
        }



            /* Container for the carousel */
        .carousel-container {
            background-color: springgreen;
            width: 100%;
             height: 50px;
            overflow: hidden;
            position: relative;
        }
        /* Image carousel */
        .carousel {
            display: flex;
            animation: slide 60s infinite linear;
        }
        .carousel img {
            width: 100%;
             height: 40px;
            border: 1px solid violet;
               padding: 1px;
 margin: 6px;
            height: auto;
        }
        /* Navigation buttons */
        .carousel-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            font-size: 24px;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            border: 1px solid springgreen;
            outline: none;
        }
        .carousel-btn.left {
            left: 0;
        }
        .carousel-btn.right {
            right: 0;
        }










  /*slider imgs*/

.slider-container {
overflow: auto;

    width: 100%;
height: 100%
border: 1px solid ; color: black;
}

.slider {

    display: flex;
    animation: slide 60s infinite linear;

}

.slider img {


    width: 100%;
    height: auto;

}

@keyframes slide {


    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}




a:hover {
    background-color: #9999FF;
}



    .button:hover {
  background-color: white; /* Button color on hover */
}



     #audio-player {
        width: 100%;
        margin-top: 20px;
    }






       .container6 {
           width: 70%;
           height: 250px;
           display: flex;
           justify-content: center;
           gap: 10px;
       }

       .container6 img {
           width: 10%;
           height: 100%;
           object-fit: cover;
           border-radius: 10px;
           border: 2px solid white;
           transition: all ease-in-out 0.5s;
       }
       .container6 img:hover {
           width: 25%;
       }






        




  
    
  .chat-container {
            background-color: springgreen;
            width: 360px;
            max-width: 800px;
            border-radius: 8px;
            box-shadow: 0 4px 8px #9999FF;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 10px;
        }

        .chat-box {
            background-color: white;
            padding: 3px;
            height: 300px;
            overflow-y: auto;
            border: 1px solid #9999FF;
            margin-bottom: 10px;
             box-shadow: 0 0 4px #9999FF;
        }

        .message {
            display: flex;
            align-items: center;
            padding: 3px;
            margin: 3px;
            border-radius: 10px;
            width: fit-content;
            max-width: 80%;
        }

        .bot {
            background-color: springgreen;
            color: black;
            align-self: flex-start;
        }

        .user {
            background-color: violet;
            color: black;
            align-self: flex-end;
            flex-direction: row-reverse;
        }

        .message img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 0 10px;
        }

        input {
            padding: 10px;
            border: 1px solid #9999FF;
            border-radius: 4px;
            width: calc(100% - 70px);
            box-sizing: border-box;
        }

        button {
            width:60px;
            padding: 10px;
            background-color: white;
            border: 1px solid #9999FF;
            color: black;
            
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #9999FF;
            color:white;
        }

        .user-info {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
        }

        .user-info input {
            margin-bottom: 5px;
        }


      

 
         /* تنسيق الوقت */
        .time-container {
            background-color: transparent;
            padding: 3px ;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            color: #333333;
            font-size: 2em;
        }
      

       


   .date-container {
            text-align: center;
            padding: 3px;
            border-radius: 8px;
            background-color: transparent;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .date {
            font-size: 14px;
            color: black;
        }



      



      








 /* Flexible layout responsive design */

 .header1 {
 font-size: 0.5em;
 padding: 2px;
 }
 /* Big red header with red border */
 .header2 {
 font-size: 4em;
 padding: 2px;
 }
 /* Six buttons with code link to some pages in this project */
 .button-group {
 margin-top: 3px;
 }
 .button {
 padding: 3px;
 margin: 3px;
 font-size: 1em;
 }

  .buttonm-group {
 margin-top: 3px;
 }
 .buttonm {
 padding: 3px;
 margin: 3px;
 font-size: 1em;
 }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column {
  flex: 100%;

  padding: 5px;
}
.column img {

  width: 100%;
  height: auto;

      }
@media screen and (max-width: 320px) {
  .column {

    width: 100%;
  }


}
